header {
 font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
color: azure;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.70)), url(https://i.redd.it/w7sbp9x4ezjz.jpg);
    background-size: cover;
    background-position: center;
}


header h1 {
    font-size: 8em;
    text-align: center;
}
header h3 {
    font-size: 3em;
    text-align: center;
}
body { 
    margin: 0; /* makes the header the span of the whole page*/
    padding: 0;
}
h1 { 
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.emphasized {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}
.servecontent table {
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 110px
    
}
th {
    background-color: #0D7BA6; /* blue background for headers */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 0px; /* Reducing space from header text and nested table */
}
th, td {
    border-bottom: 1px solid #0F6CA6; /* bottom border for rows */
}

.serve {
    display: flex;
    align-items: flex-start;
}
.serveheading {
    margin-right: 1px;
    padding-bottom: 0%;
}
.serveheading h1 {
padding-bottom: 7%;
}
.servecontent { 
    width: 80%;
}
.serveimg {
    padding-top: 8%;
    padding-bottom: 0;
    
}

section img {
    padding-top: 30px;
    width: 100%;
   
    opacity: 0.2;
}

.vid {
    background-color: #0D7BA6;
    text-align: center;
    padding: 60px;
}
.game {
    display: flex;
    align-items: flex-start; 
}

.game_text {
    flex: 1; 
}
.game_textlist { 
    padding-left: 500px;
   
}
aside {
    margin-left: 20px; 
}

aside img {
    width: 400px; 
    height: auto; 
    padding-left:200px
    padding-right:0%
}
  
