


/* Jasleen - program-calc */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #032903;
  }

  h1{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
  }
  
h2{
  text-align: center;
}

  .calculator {
    width: 360px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color:#085d08;
  }
  
  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 80px;
    
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.tabContainer img {
    width: 400px;
    height: auto;
}

.tabContainer .imgButton {
  width: 400px; 
  color: #531305;
}





 
  
 
  
  .input {
    margin-bottom: 10px;
  }
  
  .input label {
    display: inline-block;
    width: 80px;
  }
  
  .input input {
    width: calc(100% - 90px);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1b0635;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4654c4;
  }
  
  #battingResult, #bowlingResult {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }
  
