/** FONT RELATED CSS **/
h1, h2, h3{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" -10;
  color: #0f7d3d;;
  text-align: center;
}

h2{
  text-align: center;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16pt;
  text-align: center;
  color: #f5f2e1;
}

label {
  font-family: "Inter", sans-serif;
}
  
.summary {
  text-align: center;
  font-size: 18pt;
  padding: 2vw;
}
.bold {
  color:#683a13;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16pt;
  font-style: normal;
  font-variation-settings: "slnt" ;
  text-align: center;
}


.spanbold {
  color: #0f7d3d;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" -10;
}
.subheading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color:#0f7d3d;
}

.navLearnBtn{
  justify-self: right;
}

.titleheading {
  font-size: 2vw;
  font-weight: 900;
  font-variation-settings:
      "slnt" -10;
  line-height: 15vw;
}


.side {
  font-size: 14pt;
  font-family: "Inter", sans-serif;
  padding-left: 80%;
  color:#D9A679; 
  white-space: nowrap;

}
/** END FONT RELATED CSS **/


/** COPY THE FOLLOWING FOR CSS FOR NAV BAR **/
#contrast {
  color: #f5f2e1;
 }

#learnNav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 10vh;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: #0f7d3d;
  overflow: hidden;
  align-items: center;
  padding-left: 3mm;
}

#hamburger {
  color:#f5f2e1;
  padding-right: 2vw;
}

#hamburger.hiding {
  background-color:#19672f;
}

.mirror {
  position:absolute;
  justify-self: right;
  right: 0;
}

#nav-side{
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  background-color: #19672f;
  width: 0;
  transition: top 0.3s, width 1.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.moduleMenu {
  font-family: "Inter", sans-serif;
  color: #f5f2e1;
  display: flex;
  justify-content: space-around;
  width:50%;
}

.moduleMenu a {
  color: #f5f2e1;
}

.icon {
  transform: scale(1.8);
  fill: #f5f2e1;
}

/* end of nav */

.question-image {
  width: 50%;
  padding-right: 0;
  padding-top: 0;
  border: 2px solid #f5f2e1;
  border-radius: 10px;
}

body {
  margin-left: 0;
}



#ans {
  background-color: white;
  border-style: solid;
  width: 10%;
  text-align: center;
  margin: 2%;
  display: block;
  flex: 50%;
}


#quiz-body {
  background-color: #f5f2e1;
}

button {
  background-color: #f5f2e1;
  border: 1px solid #d9a679;
  width: 10%;
  text-align: center;
  margin: 2%;
  height: 30px;
  border-radius: 10px;
}

#submitButton {
  background-color: #f5f2e1;
  border: 1px dotted #d9a679;
  width: 10%;
  text-align: center;
  margin: 2%;
  height: 30px;
  border-radius: 10px;
}

.selected {
  background-color: green !important;
  /* Add !important to override other styles */
}

#row_1 {
  display: flex;
}

#ans:hover {
  background-color: green;
}

button:hover {
  background-color: green;
}

#ans:focus {
  background-color: green;
}


.question {
  text-align: center;
  border: 5px solid #0F7D3D;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 15%;
  background-color: #4fa84a;
  height: 40vw;
  color: #f5f2e1;
  width: 70%;
  justify-self: center;
  

}

.manoeuvreButtons {
  /* margin-top: 20px;
  padding: 10px; */
  text-align: center;
}

.learnFoot {
position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2cm;
  width: 100%;
  background-color: #0a4f27;
}

.learnFoot > p,
img {
  padding: 2mm 10mm 0 0;
  font-family: "Inter", sans-serif;
  color: #0f7d3d;
  text-align: center;
  align-self: center;
  margin: 0;
}
