/** COPY THE FOLLOWING FOR CSS FOR NAV BAR **/
#contrast {
  color: #f5f2e1;
 }

#learnNav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 10vh;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: #0f7d3d;
  overflow: hidden;
  align-items: center;
  padding-left: 3mm;
}

#hamburger {
  color:#f5f2e1;
  padding-right: 2vw;
}

#hamburger.hiding {
  background-color:#19672f;
}

.mirror {
  position:absolute;
  justify-self: right;
  right: 0;
}

#nav-side{
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  background-color: #19672f;
  width: 0;
  transition: top 0.3s, width 1.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.moduleMenu {
  font-family: "Inter", sans-serif;
  color: #f5f2e1;
  display: flex;
  justify-content: space-around;
  width:50%;
}

.moduleMenu a {
  color: #f5f2e1;
}

.icon {
  transform: scale(1.8);
  fill: #f5f2e1;
}

/* end of nav */

#ans {
  background-color: white;
  border-style: solid;
  width: 10%;
  text-align: center;
  margin: 2%;
  display: block;
  flex: 50%;
}



p {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #f5f2e1;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 16pt;
}

#quiz-body {
  background-color: #F5F2E1;
}

button {
  background-color: #f5f2e1;
  border: 1px dotted #d9a679;
  width: 10%;
  text-align: center;
  margin: 2%;
  height: 30px;
  border-radius: 10px;
}

#submitButton {
  background-color: #f5f2e1;
  border: 1px dotted #d9a679;
  width: 10%;
  text-align: center;
  margin: 2%;
  height: 30px;
  border-radius: 10px;
}

.selected {
  background-color: green !important;
  /* Add !important to override other styles */
}

#row_1 {
  display: flex;
}

#ans:hover {
  background-color: green;
}

button:hover {
  background-color: green;
}

#ans:focus {
  background-color: green;
}

.question {
  text-align: center;
  border: 1px solid #f5f2e1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #4fa84a;
  color: #f5f2e1;

}

.manoeuvreButtons {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.learnFoot {
position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2cm;
  width: 100%;
  background-color: #0a4f27;
}

.learnFoot > p,
img {
  padding: 2mm 10mm 0 0;
  font-family: "Inter", sans-serif;
  color: #0f7d3d;
  text-align: center;
  align-self: center;
  margin: 0;
}
