/* RYAN */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

#indexbody {
    height: 200vh;
}

#mainnavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-color: #238c4100;
    transition: background-color 0.3s, height 0.3s;
    z-index: 10;
}

#arrowcircle {
    position: absolute;
    bottom: 0vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downarrow {
    height: 2vw;
    width: 2vw;
}

#hamburger {
    position: absolute;
    top: 50%;
    left: 5vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 10;
}

#interactivenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #19672f;
    z-index: 9;
    transition: width 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navcontents {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    font-weight: 500;
    font-size: 2rem;
}

.pagelink {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagelink a {
    color: white;
}

.titleheadingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.titleheading {
    font-size: 15vw;
    font-weight: 900;
    font-variation-settings:
        "slnt" -10;
    line-height: 15vw;
    color: white;
    transition: font-size 0.5s, line-height 0.5s;
}

#credits {
    font-size: 1.125vw;
    color: white;
    font-variation-settings:
        "slnt" -10;
    font-weight: 700;
    opacity: 100%;
    transition: opacity 0.5s, font-size 0.5s;
}

#mainsection {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/backgroundindex.jpg);
    background-size: cover;
    background-position: center;
}

#informationindex {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 2vw;
    position: sticky;
    top: calc(10vh + 2vw);
    height: calc(80vh - 4vw);
}

#definition {
    background-color: #238c41;
    padding: 2vw;
    color: white;
    border-radius: 2vw;
    font-size: 1.5vw;
    flex: 1;
}

.pagesneakpeak {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex: 1;
}

#cardholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 45vh;
    width: 30%;
}

.card {
    flex: 1;
    background-color: #238c41;
    height: 80%;
    width: 100%;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 4vw;
}

.card p {
    width: 70%;
    text-align: center;
    font-variation-settings:
        "slnt" -10;
}

.arrows {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#leftarrow, #rightarrow {
    height: 100%;
    width: 50%;
    border-radius: 2vw;
    background-color: #19672f;
}

.pagepreview {
    background-color: #19672f;
    width: 70%;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: white;
    padding: 2vw;
}

.pagepreview a {
    color: white;
}

#indexfooter {
    height: 10vh;
    background-color: #19672f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: block;
    bottom: 0;
}
