:root {
    --darkestgreen: #0a4f27;
    --darkgreen: #0F7D3D;
    --darkergreen: #0D6632;
    --green: #4FA84A;
    --offwhite: #F5F2E1;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 190vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--offwhite);
}

#mainnavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-color: #238c4100;
    transition: background-color 0.3s, height 0.3s;
    z-index: 10;
}

#arrowcircle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: var(--offwhite);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downarrow {
    height: 1vw;
    width: 1vw;
}

#hamburger {
    position: absolute;
    top: 50%;
    left: 5vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 10;
}

#interactivenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: var(--darkgreen);
    z-index: 9;
    transition: width 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navcontents {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    font-weight: 500;
    font-size: 2rem;
}

.pagelink {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagelink a {
    color: var(--offwhite);
}

.titleheadingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.titleheading {
    font-size: 15vw;
    font-weight: 900;
    font-variation-settings:
        "slnt" -10;
    line-height: 15vw;
    color: var(--offwhite);
    transition: font-size 0.5s, line-height 0.5s;
}

#credits {
    font-size: 1.125vw;
    color: var(--offwhite);
    font-variation-settings:
        "slnt" -10;
    font-weight: 700;
    opacity: 100%;
    transition: opacity 0.5s, font-size 0.5s;
}


#mainsection {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/backgroundindex.jpg);
    background-size: cover;
    background-position: center;
}

#bottomhalfindex {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#informationindex {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
    padding-bottom: 2vw;
    height: 80vh;
}

#definition {
    background-color: var(--darkestgreen);
    padding: 2vw;
    color: var(--offwhite);
    border-radius: 2vw;
    font-size: 1.5vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagesneakpeak {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex: 1;
}

#cardholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 45vh;
    width: 30%;
}

.card {
    flex: 1;
    background-color: var(--darkgreen);
    height: 80%;
    width: 100%;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    font-weight: 800;
    font-size: 4vw;
}

.card p {
    width: 80%;
    text-align: center;
    font-variation-settings:
        "slnt" -10;
}

.arrows {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#leftarrow, #rightarrow {
    height: 100%;
    width: 50%;
    border-radius: 2vw;
    background-color: var(--green);
    color: var(--offwhite);
    font-size: 3vw;
    border: none;
}

#leftarrow:hover, #rightarrow:hover {
    cursor: pointer;
    background-color: #4fa84a90;
}

.pagepreview {
    background-color: var(--darkergreen);
    width: 70%;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: var(--offwhite);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagepreview h3 {
    padding-bottom: 2vw;
    font-size: 2vw;
}

.pagepreview p {
    padding-bottom: 2vw;

}
.pagepreview a {
    color: var(--offwhite);
}

.pagepreview a:hover {
    color: rgba(255, 255, 255, 0.7);
}

#indexfooter {
    height: 10vh;
    width: 100vw;
    background-color: var(--darkestgreen);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--offwhite);
    gap: 1vw;
}

#indexfooter p {
    color: var(--darkgreen);
}

#indexfooter img {
    width: 2vw;
    height: 2vw;
}
