/** FONT RELATED CSS **/
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #0f7d3d;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 16pt;
}

label {
  font-family: "Inter", sans-serif;
}

/** use this class to change text colour from green -> beige when bg is green **/
#contrast {
  color: #f5f2e1;
}

.bold {
  color: #683a13;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14pt;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-align: center;
}

.subheading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" -10;
  color: #0f7d3d;
}

.side {
  font-size: 11pt;
  font-family: "Inter", sans-serif;
  padding-left: 80%;
  color: #d9a679;
}
/** END FONT RELATED CSS **/

body {
  margin: 0;
  background-color: #f5f2e1;
}

#learnNav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 10vh;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: #0f7d3d;
  overflow: hidden;
  align-items: center;
  padding-left: 6mm;
}

#learn-hero {
  display: flex;
  background-image: url("../images/Learn_Cricket_Backsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 95vh;
}

/** FOR SVGS **/
.arrow {
  fill: #f5f2e1;
}

/** COPY ME FOR THE FOOTER YAY **/

.learnFoot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-color: #0a4f27;
}

.learnFoot > p {
  padding: 2mm 10mm 0 0;
  font-family: "Inter", sans-serif;
  color: #0f7d3d;
  text-align: center;
  align-self: center;
  margin: 0;
}

.learnFoot > img {
  padding: 2mm 10mm 0 0;
  font-family: "Inter", sans-serif;
  color: #0f7d3d;
  text-align: center;
  align-self: center;
  margin: 0;
}

.learnstyles {
  padding: 2vw;
}

.imagesplit {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10cm;
  background-image: url(../images/splitter_backsplash_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text {
  padding: 4vw;
  width: 45%;
  font-size: 20pt;
  transform: translateY(2cm);
}

.hero-text > p {
  font-size: 18pt;
}
/** Learning page carousel styles **/
.outer-carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  height: 100%;
}
.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button-prev {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
}

.carousel-button-prev:hover {
  scale: 110%;
}

.carousel-button-next {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
}

.carousel-button-next:hover {
  scale: 110%;
}

.hideaway {
  background-color: #4fa84a;
  color: #f5f2e1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14pt;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 30px;
  transition: border-radius 0.2s;
  transition-delay: 0.4s;
  outline: none;
  align-self: center;
  padding: 5mm;
}

.active.hideaway:hover {
  background-color: #0f7d3d;
}

.hideaway:after {
  scale: 150%;
  color: white;
  content: "+";
  float: right;
  margin-left: 5mm;
}

.active:after {
  content: "-";
}

.hideContent {
  padding: 0 18px;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  transition-delay: 0.05s;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  background-color: #d9c6a3;
}

/** Css for learning module transitons **/
#modulemove {
  background-color: #0f7d3d;
  width: 96%;
  height: 5cm;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mod-prev {
  max-width: 8cm;
  min-width: 4cm;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.mod-next {
  max-width: 8cm;
  min-width: 4cm;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: right;
}

.mod-prev:hover {
  scale: 110%;
}

.mod-next:hover {
  scale: 110%;
}
#move {
  text-decoration: none;
  align-self: center;
  display: block;
  min-width: 4cm;
  max-width: 8cm;
  height: 15mm;
}

.progressBoundary {
  width: 100%;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.mod-progress {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  padding: 0 10mm 0 10mm;
  margin: 0% 2% 0% 2%;
}

#currentmod {
  fill: #f5f2e1;
}
.progressBox {
  margin: 2mm;
  fill: #4fa84a;
}

.progressBox > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #4fa84a;
  text-align: center;
}

.modNewboundary {
  width: 8cm;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/** end module relevant style **/

/** animation styles **/
.completemod {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.completemod.show {
  opacity: 1;
  transform: translateY(0);
}

/**Calculator Page**/

label {
  font-family: "Inter", sans-serif;
}

.pageDescriptionContainer {
  display: flex;
  justify-content: center;
}

.pageDescription {
  color: #000000;
  text-align: center;
  margin-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  font-family: "Inter", sans-serif;
}

.calculator {
  width: 360px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0a4f27;
  color: #ffffff;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.tabContainer img {
  width: 400px;
  height: auto;
}

.imgButton {
  width: 400px;
}

.input {
  margin-bottom: 10px;
}

.input label {
  display: inline-block;
  width: 80px;
}

.input input {
  width: calc(100% - 90px);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.JasButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4fa84a;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.JasButton:hover {
  background-color: #399c3e;
}

.Jas-h2 {
  color: #ffffff;
}

header p{
  font-size: 9px;
}

#battingResult,
#bowlingResult {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

#battingReq,
#bowlingReq {
  font-family: "Inter", sans-serif;
  color: #d13513;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}
