/** HEADING FONT **/
h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  color: #0f7d3d;
}

body {
    margin: 0;
    background-color: #f5f2e1;
}

#learnNav {
    position: fixed;
    z-index:1;
    width: 100%;
    height: 2cm;
    background-color: grey;
}
#learn-hero {
    transform: translateY(2cm);
    height: 100vh;
}

.hero-text {
    padding: 4vw;
    width: 50%;
}

.hero-text {
    font-size: 20pt;
}
/** Learning page carousel styles **/
.outer-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

.carousel-container {
    height: 100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button-prev  {
    position: absolute;
    top: 50%;
    left: 0;
    
}

.carousel-button-next {
    position: absolute;
    top: 50%;
    right: 0;
}


/** Css for learning module transitons **/
#modulemove {
    width: 96%;
    height: 8cm;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.mod-prev-next {
    width: 8cm;
    height: 100%;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.mod-progress {
    overflow: hidden;
    margin: 0% 2% 0% 2% ;
    width: 100%;
    background-color: rgb(230, 230, 230);
}


.wick2 {
    position: absolute;
    right: 0;
}

/** end module relevant style **/

/** animation styles **/
#run-container {
    display: flex;
    width: 100%;
    position: relative;
    background: yellow;
}

#run-animation {
    position: absolute;
}




/* Jasleen - program-calc */

.Jas-h2{
  text-align: center;
}

  .calculator {
    width: 360px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color:#085d08;
  }
  
  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 80px;
    
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.tabContainer img {
    width: 400px;
    height: auto;
}

.tabContainer .imgButton {
  width: 400px; 
  color: #531305;
}





 
  
 
  
  .input {
    margin-bottom: 10px;
  }
  
  .input label {
    display: inline-block;
    width: 80px;
  }
  
  .input input {
    width: calc(100% - 90px);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

.tab {
   display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1b0635;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;

}
  
  #jas-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1b0635;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  #jas-button:hover {
    background-color: #4654c4;
  }
  
  #battingResult, #bowlingResult {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }
  



